.content {
  height: calc(100vh - 64px);
  padding: 20px;
  overflow: auto;
  background-color: var(--theme-layout-bgColor);
}
/* 整个滚动条 */
::-webkit-scrollbar {
  /* 对应纵向滚动条的宽度 */
  width: 5px;
  /* 对应横向滚动条的宽度 */
  height: 5px;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 32px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 32px;
}

.footer {
  background-color: var(--theme-layout-bgColor);
}
